In [19]:
import pandas as pd

In [20]:
#you can shift a series by a specified number of rowns using the .shift() method
# %growth = current period/previous period-1

In [21]:
retail = pd.read_csv("../retail/retail.csv", parse_dates=["date"])
retail.head()

        id       date  store_nbr      family  sales  onpromotion
0  1945944 2016-01-01          1  AUTOMOTIVE    0.0            0
1  1945945 2016-01-01          1   BABY CARE    0.0            0
2  1945946 2016-01-01          1      BEAUTY    0.0            0
3  1945947 2016-01-01          1   BEVERAGES    0.0            0
4  1945948 2016-01-01          1       BOOKS    0.0            0

In [26]:
#retail_agg = retail.groupby(['date']).agg({"sales": "sum"}).round().iloc[1:10]

#retail_agg.assign(yesterday_sales = retail_agg["sales"] /retail_agg["sales"].shift())

In [23]:
#.diff() method calculates the difference between the values in a series and those
#same values shifted a specified number of periods
#you can calculate the differences between a point today and the point yesterday

In [24]:
#dates - dates.shift(1) = .diff() method

In [30]:
retail_agg = retail.groupby(['date']).agg({"sales": "sum"}).round().iloc[1:10]

retail_agg.assign(daily_change = retail_agg["sales"].diff() / retail_agg["sales"])

                sales  daily_change
date
2016-01-02  1066677.0           NaN
2016-01-03  1226736.0      0.130476
2016-01-04   955957.0     -0.283254
2016-01-05   835320.0     -0.144420
2016-01-06   821686.0     -0.016593
2016-01-07   653504.0     -0.257354
2016-01-08   713608.0      0.084226
2016-01-09   989209.0      0.278607
2016-01-10  1094694.0      0.096360