In [2]:
import pandas as pd
import numpy as np

In [4]:
my_series = pd.Series(range(5))
my_series

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [5]:
my_series[3]

3

In [6]:
my_series[1:3]

1    1
2    2
dtype: int64

In [7]:
my_series[1::2]

1    1
3    3
dtype: int64

In [9]:
my_series = pd.Series(range(5), index=["Day 0", "Day 1", "Day 2", "Day 3", "Day 4"])
my_series

Day 0    0
Day 1    1
Day 2    2
Day 3    3
Day 4    4
dtype: int64

In [11]:
my_series["Day 1"]

1

In [12]:
my_series["Day 1":"Day 4"]

Day 1    1
Day 2    2
Day 3    3
Day 4    4
dtype: int64

In [13]:
my_series[::2]

Day 0    0
Day 2    2
Day 4    4
dtype: int64