In [2]:
import pandas as pd
import numpy as np
#str.contains() #hangisinde ne var
#.strip #removing the (dollar) sign, then converting to float

In [3]:
string_series = pd.Series(["day 0", "day 1", "day 2", "day 3", "day 4"])

string_series

0    day 0
1    day 1
2    day 2
3    day 3
4    day 4
dtype: object

In [4]:
string_series.str.upper() #contains("1")

0    DAY 0
1    DAY 1
2    DAY 2
3    DAY 3
4    DAY 4
dtype: object

In [6]:
string_series.str.strip('day ').astype('int')

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [13]:
string_series.str.split(' ', expand=True) #.astype('int')

     0  1
0  day  0
1  day  1
2  day  2
3  day  3
4  day  4